.parentContainer {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.titleParent {
  display: flex;
  flex-flow: row nowrap;
}
.logo {
  width: 90px;
  height: 60px;
  object-fit: cover;
}
.navTitle {
  font-family: "IBM Plex Serif", serif;
  font-size: 26px;
  margin-left: -20px;
  align-self: center;
  color: var(--navy);
}
.navUl {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}
.navUl li a {
  color: var(--navy);
  font-family: "Playfair Display SC", serif;
  font-size: 17px;
}
.navUl li:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}
.searchIcon {
  border: none;
  width: fit-content;
}
.searchIcon:active {
  background-color: var(--platinum);
}