.aboutTitle {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 300px;
  position: absolute;
  font-family: "Playfair Display SC", serif;
  letter-spacing: 2.5px;
  color: var(--platinum);
  font-size: 40px;
  animation: aboutTitleAnim 2s forwards;
}
@keyframes aboutTitleAnim {
  0% {
    background-color: white;
    color: white;
  }
  100% {
    background-color: var(--old-mauve);
  }
}
.photoParent {
  margin-top: 80px;
  z-index: 1;
  max-width: 400px;
  min-width: 320px;
  animation: famPhotoAnim 3s forwards;
}
.famPhoto {
  width: 100%;
  /* border: 1px solid var(--old-mauve); */
}
/* @keyframes famPhotoAnim {
  0% {
    background-color: green;
  }
  100% {
    background-color: pink;
  }
} */
.aboutContent {
  padding: 20px;
  border: 1px solid var(--old-mauve);
  background-color: white;
  margin-bottom: 30px;
  min-width: 350px;
  height: fit-content;
  align-self: center;
  z-index: 1;
}
.aboutContent h1 {
  align-self: center;
  font-family: "Nuosu SIL", serif;
  color: var(--old-mauve);
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.aboutContent p {
  font-family: "Nuosu SIL", serif;
  color: var(--old-mauve);
  font-size: 16px;
  text-align: center;
}
@media only screen and (max-width: 1140px) {
  .aboutContent {
    margin-top: 15px;
  }
}
