.featuredEl {
  background-color: var(--off-white);
  height: auto;
  padding: 30px;
}
.books {
  display: flex;
  justify-content: center;
}
.bookTrio {
  width: 550px;
  height: 450px;
  object-fit: cover;
}
.featuredText {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.featuredTitle {
  padding: 0;
  font-family: "Nuosu SIL", serif;
  color: var(--old-mauve);
  font-size: 60px;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
}
.lineBreak {
  width: 100px;
  height: 0px;
  padding: 0;
  border: 0.5px solid var(--old-mauve);
  margin-bottom: 30px;
}
.description {
  padding: 0;
  margin-bottom: 30px;
  font-family: 'Caveat', cursive;
  color: var(--copper-rose);
  /* color: var(--old-mauve); */
  font-size: 25px;
}
.readMore, .readMoreBtm {
  border: 2px solid var(--navy);
  width: fit-content;
  padding: 8px 20px;
  color: var(--navy);
}
.bottomFeature {
  margin: 100px 0px;
}
.leftFeature, .rightFeature {
  margin:0;
  padding: 0;
  background-color: var(--off-white);
  height: 300%;
}
.leftFeature img, .rightFeature img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.readMoreBtm {
  position: absolute;
  margin-left: -25%;
  margin-top: 15%;
}