:root {
    --navy: #0A1A23;
    --copper-rose: #A26769;
    --old-mauve: #6D2E46;
    --platinum: #E6E6E6;
    --off-white: #f3f0f0;
    --ming: #2A6C7A;
    --tangerine: #FFA190;
    --corn: #F1E556;
    --dark-gray: rgb(94, 94, 94);
}