.parentContainer {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.titleParent {
  display: flex;
  flex-flow: row nowrap;
}
.logo {
  width: 90px;
  height: 60px;
  object-fit: cover;
}
.navTitle {
  font-family: "IBM Plex Serif", serif;
  font-size: 26px;
  margin-left: -20px;
  align-self: center;
  color: var(--navy);
}
.navUl {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}
.navUl li a {
  color: var(--navy);
  font-family: "Playfair Display SC", serif;
  font-size: 17px;
}
.navUl li:hover {
  text-decoration: underline;
}
/* .navUl li i {
  margin-right: 2rem;
} */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}

/* bootstrap adjustment for default input blue glow. Reset to my preferences.*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="search"],
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color:[insert color here];
  color:[insert color here];
  outline: 0 none;
}
.searchIcon {
  border: none;
  width: fit-content;
}
.searchIcon:active {
  background-color: var(--platinum);
}