.navParent {
  height: 60px;
}

.navTitle {
  font-family: 'IBM Plex Serif', serif;
  font-size: 30px;
  margin-left: -40px;
  align-self: center;
  color: var(--navy);
}

.logo {
  width: 100%;
  height: 58px;
  object-fit: cover;
}

.navUl {
  align-self: center;
}

.navUl a{
  color: var(--navy);
  font-family: "Nuosu SIL", serif;
  font-size: 20px;
}

.navUl a:hover {
  text-decoration: underline;
}